<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>代码生成器</title>
  <link rel="icon" href="src/img/favicon.ico">
  <link rel="stylesheet" href="./src/lib/element-ui/2.13.0/theme-chalk/index.css">
  <link rel="stylesheet" href="./src/css/index.css">
</head>
<body>
<div id="app">
  <div class="content">
    <el-form ref="form" :model="dbConfig" label-width="80px">
      <el-form-item label="主机">
        <el-input v-model="dbConfig.host"></el-input>
      </el-form-item>
      <el-form-item label="端口">
        <el-input v-model="dbConfig.port"></el-input>
      </el-form-item>
      <el-form-item label="数据库">
        <el-input v-model="dbConfig.database"></el-input>
      </el-form-item>
      <el-form-item label="用户名">
        <el-input v-model="dbConfig.user"></el-input>
      </el-form-item>
      <el-form-item label="密码">
        <el-input v-model="dbConfig.password"></el-input>
      </el-form-item>
      <el-form-item>
        <el-checkbox v-model="remember" label="记住连接"></el-checkbox>
      </el-form-item>
      <el-button class="btn" type="primary" :loading="loading" @click="handleConnectDB">连接</el-button>
    </el-form>
  </div>
</div>
<script src="./src/lib/vue.js"></script>
<script src="./src/lib/element-ui/2.13.0/index.js"></script>
<script>
  const dbUtil = require("./src/db/connect");
  const util = require("./src/utils/util");
  new Vue({
    el: "#app",
    data() {
      let dbConfig = util.getStore("dbConfig", "local") || {};
      return {
        remember: !!dbConfig,
        loading: false,
        dbConfig: {
          host: "",
          user: "",
          password: "",
          port: "",
          database: "",
          ...dbConfig,
        },
      }
    },
    methods: {
      handleConnectDB() {
        this.loading = true;
        dbUtil.connectDB(this.dbConfig).then(connection => {
          if (this.remember) {
            util.setStore("dbConfig", this.dbConfig, "local");
          } else {
            util.setStore("dbConfig", null, "local");
          }
          location.href = "tableList.html";
          this.loading = false;
        }).catch(err => {
          this.loading = false;
          this.$message.error(err.sqlMessage);
        });
      }
    }
  })
</script>
</body>
</html>
