<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>code-generator</title>
  <link rel="stylesheet" href="./src/lib/element-ui/2.13.0/theme-chalk/index.css">
</head>
<body>
<div id="app">
  <div>
    <el-form ref="form" :model="form" label-width="80px">
      <el-form-item label="主机">
        <el-input v-model="form.host"></el-input>
      </el-form-item>
      <el-form-item label="端口">
        <el-input v-model="form.port"></el-input>
      </el-form-item>
      <el-form-item label="数据库">
        <el-input v-model="form.database"></el-input>
      </el-form-item>
      <el-form-item label="用户名">
        <el-input v-model="form.user"></el-input>
      </el-form-item>
      <el-form-item label="密码">
        <el-input v-model="form.password"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button @click="handleConnectDB">连接</el-button>
      </el-form-item>
    </el-form>
  </div>
</div>
<script src="./src/lib/vue.js"></script>
<script src="./src/lib/element-ui/2.13.0/index.js"></script>
<script>
  const dbUtil = require("./src/db/connect");
  new Vue({
    el: "#app",
    data: {
      form: {
        host: "127.0.0.1",
        user: "root",
        password: "123456",
        port: "3306",
        database: "test"
      },
    },
    methods: {
      handleConnectDB() {
        dbUtil.connectDB(this.form).then(connection => {
          process.connection = connection;
          process.dbConfig = this.form;
          location.href = "tableList.html";
        }).catch(err => {
          this.$message.error(err.sqlMessage);
        });
      }
    }
  })
</script>
</body>
</html>