<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>代码生成器</title>
  <link rel="icon" href="favicon.ico">
  <link rel="stylesheet" href="./src/lib/element-ui/2.13.0/theme-chalk/index.css">
  <link rel="stylesheet" href="./src/css/index.css">
</head>
<body>
<div id="app">
  <div class="content">
    <el-form ref="form" :model="form" label-width="80px">
      <el-form-item label="主机">
        <el-input v-model="form.host"></el-input>
      </el-form-item>
      <el-form-item label="端口">
        <el-input v-model="form.port"></el-input>
      </el-form-item>
      <el-form-item label="数据库">
        <el-input v-model="form.database"></el-input>
      </el-form-item>
      <el-form-item label="用户名">
        <el-input v-model="form.user"></el-input>
      </el-form-item>
      <el-form-item label="密码">
        <el-input v-model="form.password"></el-input>
      </el-form-item>
      <el-button type="primary" :loading="loading" @click="handleConnectDB">连接</el-button>
    </el-form>
  </div>
</div>
<script src="./src/lib/vue.js"></script>
<script src="./src/lib/element-ui/2.13.0/index.js"></script>
<script>
  const dbUtil = require("./src/db/connect");
  new Vue({
    el: "#app",
    data() {
      return {
        loading: false,
        form: {
          host: "127.0.0.1",
          user: "root",
          password: "123456",
          port: "3306",
          database: "test"
        },
      }
    },
    methods: {
      handleConnectDB() {
        this.loading = true;
        dbUtil.connectDB(this.form).then(connection => {
          process.connection = connection;
          process.dbConfig = this.form;
          location.href = "tableList.html";
          this.loading = false;
        }).catch(err => {
          this.loading = false;
          this.$message.error(err.sqlMessage);
        });
      }
    }
  })
</script>
</body>
</html>
