<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>代码生成器</title>
  <link rel="icon" href="src/img/favicon.ico">
  <link rel="stylesheet" href="./src/lib/element-ui/2.13.0/theme-chalk/index.css">
  <link rel="stylesheet" href="./src/lib/tt/tableTemplate.css">
  <link rel="stylesheet" href="./src/css/tableList.css">
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>
<body>
<div id="app" v-cloak>
  <table-template
    :data="tableList"
    :config="config"
    :table-loading="tableLoading"
    @submit-search="handleSearch"
    @page-change="getTableList"
    :page='params'>
  </table-template>
  <el-dialog title="模版配置" :visible.sync="dialogVisible" width="1000px" :close-on-click-modal="false">
    <div class="item-title">通用配置</div>
    <el-form label-width="100px">
      <el-form-item label-width="0">
        <el-checkbox label="记住配置项" v-model="remember"></el-checkbox>
      </el-form-item>
      <el-form-item label="作者">
        <el-input placeholder="请输入作者" v-model="options.author"></el-input>
      </el-form-item>
      <el-form-item label="基准路径">
        <el-input placeholder="请输入基准路径" v-model="options.basePath"></el-input>
      </el-form-item>
      <el-form-item label="模版内容">
        <el-checkbox label="新增" v-model="options.createFlag"></el-checkbox>
        <el-checkbox label="分页" v-model="options.retrieveFlag"></el-checkbox>
        <el-checkbox label="更新" v-model="options.updateFlag"></el-checkbox>
        <el-checkbox label="删除" v-model="options.deleteFlag"></el-checkbox>
      </el-form-item>
    </el-form>
    <div class="item-title">后端配置</div>
    <el-form label-width="100px">
      <el-form-item label-width="0">
        <el-checkbox label="生成后端代码" v-model="options.backendCode"></el-checkbox>
      </el-form-item>
      <template v-if="options.backendCode">
        <el-form-item label-width="0">
          <el-checkbox label="更多配置项" v-model="moreOptions"></el-checkbox>
        </el-form-item>
        <template v-if="moreOptions">
          <el-form-item label="实体类名称">
            <el-input placeholder="实体类名称，如%s" v-model="options.entityName"></el-input>
          </el-form-item>
          <el-form-item label="控制类名称">
            <el-input placeholder="控制类名称如，如%sController" v-model="options.controllerName"></el-input>
          </el-form-item>
          <el-form-item label="服务类名称">
            <el-input placeholder="服务类名称如，如%sService" v-model="options.serviceName"></el-input>
          </el-form-item>
          <el-form-item label="实现类名称">
            <el-input placeholder="实现类名称如，如%sServiceImpl" v-model="options.serviceImplName"></el-input>
          </el-form-item>
          <el-form-item label="映射类名称">
            <el-input placeholder="映射类名称如，如%sMapper" v-model="options.mapperName"></el-input>
          </el-form-item>
          <el-form-item label="控制类父类">
            <el-input placeholder="控制类父类" v-model="options.superControllerClass"></el-input>
          </el-form-item>
          <el-form-item label="实体父类">
            <el-input placeholder="实体父类" v-model="options.superEntityClass"></el-input>
          </el-form-item>
          <el-form-item label="实体父类字段">
            <el-input placeholder="实体父类字段，以英文逗号隔开" v-model="options.superEntityColumns"></el-input>
          </el-form-item>
          <!--<el-form-item label="基础包名">-->
          <!--<el-input placeholder="基础包名" v-model="options.basePackage"></el-input>-->
          <!--</el-form-item>-->
          <el-form-item label="实体类包名">
            <el-input placeholder="实体类包名" v-model="options.entityPackage"></el-input>
          </el-form-item>
          <el-form-item label="控制类包名">
            <el-input placeholder="控制类包名" v-model="options.controllerPackage"></el-input>
          </el-form-item>
          <el-form-item label="服务类包名">
            <el-input placeholder="服务类包名" v-model="options.servicePackage"></el-input>
          </el-form-item>
          <el-form-item label="实现类包名">
            <el-input placeholder="实现类包名" v-model="options.serviceImplPackage"></el-input>
          </el-form-item>
          <el-form-item label="映射类包名">
            <el-input placeholder="映射类包名" v-model="options.mapperPackage"></el-input>
          </el-form-item>
        </template>
      </template>
    </el-form>
    <div class="item-title">前端配置</div>
    <el-form>
      <el-form-item>
        <el-checkbox label="生成前端代码" v-model="options.frontendCode"></el-checkbox>
      </el-form-item>
    </el-form>
    <table-template
      v-if="options.frontendCode"
      :data="options.columns"
      :config="columnConfig">
    </table-template>
    <div slot="footer">
      <el-button @click="dialogVisible=false">取 消</el-button>
      <el-button type="primary" :loading="handleLoading" @click="handleSubmit">生成代码</el-button>
    </div>
  </el-dialog>
</div>
<script src="./src/lib/vue.js"></script>
<script src="./src/lib/element-ui/2.13.0/index.js"></script>
<script src="./src/lib/tt/tableTemplate.umd.min.js"></script>
<script>
  const util = require("./src/utils/util");
  const dbUtil = require("./src/db/connect");
  const ejs = require('ejs');
  const fs = require('fs');
  new Vue({
    el: "#app",
    data() {
      let options = util.getStore("options", "local") || {};
      return {
        remember: false,
        moreOptions: false,
        tableList: [],
        tableLoading: false,
        dialogVisible: false,
        handleLoading: false,
        options: {
          backendCode: true,
          basePath: "",
          createFlag: true,
          retrieveFlag: true,
          updateFlag: true,
          deleteFlag: true,
          frontendCode: false,
          author: "",
          date: null,
          entityName: "%s",
          serviceName: "%sService",
          serviceImplName: "%sServiceImpl",
          controllerName: "%sController",
          mapperName: "%sMapper",
          apiName: "%s",
          viewName: "%s",
          columns: [],
          tableName: "",
          tableNameCamelBak: "",
          tableNameCapitalize: "",
          superEntityClass: "",
          superControllerClass: "",
          superEntityColumns: [], //["id", "create_time", "update_time"],
          basePackage: "",
          entityPackage: "",
          controllerPackage: "",
          servicePackage: "",
          serviceImplPackage: "",
          mapperPackage: "",
          ...options
        },
        curRow: {},
        config: {
          withoutDialog: true,
          handlerProps: {width: "100px"},
          showAddBtn: false,
          showIndex: true,
          columns: [
            {
              label: '表名',
              field: 'tableName',
            },
            {
              label: '创建时间',
              field: 'createTime',
              hideInSearch: true,
              render: row => {
                return util.formatTime(row.createTime, "yyyy-MM-dd hh:mm:ss");
              }
            }
          ],
          handlerList: [
            {
              label: '模版配置',
              icon: 'el-icon-edit',
              click: row => {
                let tableName = row.tableName;
                this.getColumnList({tableName: tableName});
                this.options.tableName = tableName;
                this.options.tableNameCamelBak = util.underlineToCamelBak(tableName);
                this.options.tableNameCapitalize = util.underlineToCamelBak(tableName, true);
                this.options.basePath = "/" + tableName.replace(/_/g, "/");
                this.dialogVisible = true;
              }
            },
          ],
        },
        columnConfig: {
          withoutDialog: true,
          searchable: false,
          showAddBtn: false,
          pageable: false,
          columns: [
            {
              label: '字段',
              field: 'columnName',
            },
            {
              label: '类型',
              field: 'dataType',
            },
            {
              label: '显示名称',
              field: 'label',
              type: 'input'
            },
            {
              label: '表格中隐藏',
              field: 'hideInTable',
              type: 'checkbox',
            },
            {
              label: '搜索中隐藏',
              field: 'hideInSearch',
              type: 'checkbox',
            },
            {
              label: '表单中隐藏',
              field: 'hideInForm',
              type: 'checkbox',
            },
          ],
        },
        params: {
          current: 1,
          size: 10,
          total: 10
        }
      }
    },
    methods: {
      getTableList() {
        this.tableLoading = true;
        dbUtil.getTableList(this.params).then(results => {
          this.tableList = results;
          this.tableLoading = false;
        }).catch(err => {
          this.$message.error(err.sqlMessage);
          this.tableLoading = false;
        });
        this.countTable();
      },
      getColumnList(params) {
        this.handleLoading = true;
        dbUtil.getColumnList(params).then(results => {
          results.forEach(v => {
            let column = util.mysqlTypeConvert(v.dataType);
            v.label = v.columnComment;
            v.property = util.underlineToCamelBak(v.columnName);
            v.propertyType = column.type;
            v.pk = column.pk;
            v.hideInTable = false;
            v.hideInSearch = false;
            v.hideInForm = false;
          });
          console.log(results);
          this.options.columns = results;
          this.handleLoading = false;
        }).catch(err => {
          this.$message.error(err.sqlMessage);
          this.handleLoading = false;
        });
      },
      countTable() {
        dbUtil.countTable(this.params).then(total => {
          this.params.total = total;
        }).catch(err => this.$message.error(err.sqlMessage));
      },
      handleSearch(params) {
        this.params.current = 1;
        this.params = {...this.params, ...params};
        this.getTableList();
      },
      handleSubmit() {
        let options = this.options;
        this.handleLoading = true;
        options.date = util.formatTime(new Date(), "yyyy-MM-dd hh:mm:ss");
        let outputDir = "./dist";
        if (!fs.existsSync(outputDir)) {
          fs.mkdirSync(outputDir);
        }
        if (this.remember) {
          util.setStore("options", this.options, "local");
        } else {
          util.setStore("options", null, "local");
        }
        let templates = fs.readdirSync('./src/template');
        let frontendSuffix = ["js", "vue"];
        let backendSuffix = ["java", "xml"];
        templates.forEach(template => {
          let ary = template.split(".");
          let isBackendCode = backendSuffix.indexOf(ary[1]) > -1;
          let isFrontendCode = frontendSuffix.indexOf(ary[1]) > -1;
          if (!options.backendCode && isBackendCode) return;
          if (!options.frontendCode && isFrontendCode) return;
          ejs.renderFile('./src/template/' + template, options, (err, str) => {
            if (err) {
              this.handleLoading = false;
              this.$message.error(JSON.stringify(err));
              return;
            }
            let optionName = options[ary[0] + "Name"] || "";
            let fileName = optionName.replace("%s", isBackendCode ? options.tableNameCapitalize : options.tableNameCamelBak) + "." + ary[1];
            let data = new Uint8Array(Buffer.from(str));
            fs.writeFile(`${outputDir}/${fileName}`, data, (err) => {
              if (err) {
                this.handleLoading = false;
                this.$message.error(JSON.stringify(err));
                return;
              }
              this.handleLoading = false;
              this.dialogVisible = false;
              this.$message.success("代码成功生成在dist文件夹！");
            });
          });
        });
      }
    },
    mounted() {
      this.getTableList();
    }
  });
</script>
</body>
</html>
