* {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(144, 146, 152, 0.3);
}

::-webkit-scrollbar-track-piece {
  background-color: #fff;
}

#app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f1f1;
}

.content {
  box-shadow: 5px 5px 15px 2px rgba(0, 33, 93, .3);
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  width: 400px;
}

.btn{
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .content {
    width: 80%;
  }
}
