* {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(144, 146, 152, 0.3);
}

::-webkit-scrollbar-track-piece {
  background-color: #fff;
}

#app {
  height: 100vh;
  padding: 15px;
}
